* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.fondo {
    background-color: #f7f7f7;
}

.wallpaper {
    background-image: linear-gradient(to right, cyan, green);
}

.underline-hover::after{
    content: "";
    height: 4px;
    width: 0;
    background-color: blue;
    display: block;
    transition: all 750ms;
}
.underline-hover:hover::after{
    width: 100%;
    background-color: #39F5C1;
}

/* .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    position: relative;
    width: 300px;
    height: 450px;
    margin: 40px;
    border-style: none;
} */


.buttonStyle {
    font-weight: 600;
    font-size: 24px;
    padding: 10px 45px 10px 45px;
}

/* .button--buy {
    background: transparent;
    color: #3074F4;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    padding: 16px 36px;
    border: 2px solid #3074F4;
    border-radius: 24px;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}


.button--buy::before {
    content: "";
    position: absolute;
    background-color: #3074F4;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-20deg);
    filter: blur(6px);
}

.button--buy:hover::before {
    left:calc(100% + 32px);
    transition: 0.80s;
} */