* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.fondo {
    background-color: #f7f7f7;
}

.wallpaper {
    background-image: linear-gradient(to right, cyan, green);
}

.color-blue {
    color: #0077b9;
}

.underline-hover::after{
    content: "";
    height: 4px;
    width: 0;
    background-color: blue;
    display: block;
    transition: all 750ms;
}
.underline-hover:hover::after{
    width: 100%;
    background-color: #39F5C1;
}

.card--principal {
    transition: 600ms ease-in-out;
}
.card--principal:hover {
    transform: scale(1.04); 
}

.buttonStyle {
    font-weight: 600;
    font-size: 24px;
    padding: 10px 45px 10px 45px;
}